 # Please check that [save_variables] is above [ace] if you're using different config
[save_variables]
filename: ~/printer_data/config/vars.cfg

[respond]

[ace]
serial: /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
baud: 115200
# Default feeding speed, 10-25 in stock
feed_speed: 25
# Default retraction speed, 10-25 in stock
retract_speed: 25
#Default retraction mode, 0 (normal mode), 1 (enhanced mode)
retract_mode: 0
# Length of the retract to make for toolchange
toolchange_retract_length: 100
# Park to toolhead hit count, default is 5, can be lowered if your setup works stably on lower values
park_hit_count: 5
# Max dryer temperature. If you want to fry your dryer, then you can! (Just joking, should be safe around ~60, but it's not tested yet)
max_dryer_temperature: 55
# Disables feed assist after toolchange. Defaults to true
disable_assist_after_toolchange: True
# Infinity_spool_mode on\off
infinity_spool_mode: False


[gcode_macro _ACE_PRE_TOOLCHANGE]
gcode:
    # No-op
    M117 Подготовка к смене филамента

[gcode_macro _ACE_POST_TOOLCHANGE]
gcode:
    # No-op
    M117 Действия после смены филамента

[gcode_macro _ACE_PRE_INFINITYSPOOL]
gcode:
    # No-op
    M117 Подготовка к смене филамента

[gcode_macro _ACE_POST_INFINITYSPOOL]
gcode:
    # No-op
    M117 Действия после смены филамента

[gcode_macro _ACE_RESET_INFINITYSPOOL]
gcode:
    # No-op
    SAVE_VARIABLE VARIABLE=ace_infsp_counter VALUE=1

[gcode_macro _ACE_ON_EMPTY_ERROR]
gcode:
    {action_respond_info("Spool is empty")}
    {% if printer.idle_timeout.state == "Printing" %}
        PAUSE
    {% endif %}

[gcode_macro FEED_ACE]
gcode:
    # Проверяем, задан ли слот
    {% if params.INDEX and params.LENGTH is defined %}
        # Сохраняем заданный слот
        {% set target_index = params.INDEX|int %}
        {% set target_length = params.LENGTH|int %}
        {% if params.SPEED is defined %} 
            {% set target_speed = params.SPEED|int %}
        {% else %}
            {% set target_speed = 25 %}
        {% endif %}
         # Сообщаем о начале парковки
        M118 Включена подача филамента слот {target_index}.

        # Запускаем парковку заданного слота
	    ACE_FEED INDEX={target_index} LENGTH={target_length} SPEED={target_speed}

    {% else %}
        # Если слот не задан выдаем ошибку
        {action_respond_info("Index or Length is lost")}
        RESPOND TYPE=error MSG="Error INDEX or LENGTH is lost"
    {% endif %}

[gcode_macro RETRACT_ACE]
gcode:
    # Проверяем, задан ли слот
    {% if params.INDEX and params.LENGTH is defined %}
        # Сохраняем заданный слот
        {% set target_index = params.INDEX|int %}
        {% set target_length = params.LENGTH|int %}
        {% if params.SPEED is defined %} 
            {% set target_speed = params.SPEED|int %}
        {% else %}
            {% set target_speed = 25 %}
        {% endif %}
         # Сообщаем о начале парковки
        M118 Включена подача филамента слот {target_index}.

        # Запускаем парковку заданного слота
	    ACE_RETRACT INDEX={target_index} LENGTH={target_length} SPEED={target_speed}

    {% else %}
        # Если слот не задан выдаем ошибку
        {action_respond_info("Index or Length is lost")}
        RESPOND TYPE=error MSG="Error INDEX or LENGTH is lost"
    {% endif %}

[gcode_macro ENABLE_FEED_ASSIST]
gcode:
    # Проверяем, задан ли слот
    {% if params.INDEX is defined %}
        # Сохраняем заданный слот
        {% set target_index = params.INDEX|int %}
         # Сообщаем о начале парковки
        M118 Включена подача филамента слот {target_index}.

        # Запускаем парковку заданного слота
	    ACE_ENABLE_FEED_ASSIST INDEX={target_index}

    {% else %}
        # Если слот не задан выдаем ошибку
        {action_respond_info("Index is lost")}
        RESPOND TYPE=error MSG="Error INDEX is lost"
    {% endif %}


[gcode_macro DISABLE_FEED_ASSIST]
gcode:
    # Проверяем, задан ли слот
    {% if params.INDEX is defined %}
        # Сохраняем заданный слот
        {% set target_index = params.INDEX|int %}
         # Сообщаем о начале парковки
        M118 Выключена подача филамента слот {target_index}.

        # Запускаем парковку заданного слота
	    ACE_DISABLE_FEED_ASSIST INDEX={target_index}

    {% else %}
        # Если слот не задан выдаем ошибку
        {action_respond_info("Index is lost")}
        RESPOND TYPE=error MSG="Error INDEX is lost"
    {% endif %}

[gcode_macro PARK_TO_TOOLHEAD]
gcode:
    # Проверяем, задан ли слот
    {% if params.INDEX is defined %}
        # Сохраняем заданный слот
        {% set target_index = params.INDEX|int %}
         # Сообщаем о начале парковки
        M118 Запущена парковка филамента слот {target_index}.

        # Запускаем парковку заданного слота
	    ACE_PARK_TO_TOOLHEAD INDEX={target_index}

    {% else %}
        # Если слот не задан выдаем ошибку
        {action_respond_info("Index is lost")}
        RESPOND TYPE=error MSG="Error INDEX is lost"
    {% endif %}

[gcode_macro START_DRYING]
gcode:
    # Проверяем, задана ли температура
    {% if params.TEMP is defined %}
        # Сохраняем заданную температуру
        {% set target_temp = params.TEMP|int %}
    {% else %}
        # Если температура не задана, используем значение по умолчанию (например, 55 градусов)
        {% set target_temp = 55 %}
    {% endif %}
	# Проверяем, задано ли время
    {% if params.TIME is defined %}
        # Сохраняем заданное время в мин.
        {% set target_time = params.TIME|int %}
    {% else %}
        # Если время не задано, используем значение по умолчанию (например, 120 минут)
        {% set target_time = 120 %}
    {% endif %}
	
    # Сообщаем о начале сушки
    M117 Запущена сушка филамента температура {target_temp}°C продолжительность {target_time} минут.

    # Запускаем сушку с заданными параметрами
	ACE_START_DRYING TEMP={target_temp} DURATION={target_time}

[gcode_macro STOP_DRYING]
gcode: 
    ACE_STOP_DRYING
    M117 Сушка филамента остановлена. Вентиляторы продолжат работу до полного остывания нагревателей.
    
[gcode_macro TR]
gcode:
    ACE_CHANGE_TOOL TOOL=-1
    
[gcode_macro T0]
gcode:
    ACE_CHANGE_TOOL TOOL=0

[gcode_macro T1]
gcode:
    ACE_CHANGE_TOOL TOOL=1

[gcode_macro T2]
gcode:
    ACE_CHANGE_TOOL TOOL=2

[gcode_macro T3]
gcode:
    ACE_CHANGE_TOOL TOOL=3

[gcode_macro INFINITY_SPOOL]
gcode:
    ACE_INFINITY_SPOOL
